.idea/*
*/__pycache__/*
sweep
sweep_*
plot.png
sweep*.py
!*ref*.sh

.gitlab-ci.yml
.pypirc
.vscode/
.bash_history
.python_history
.DS_Store

keys/*
training_models/*
build/*
models/*
hanabi-learning-environment/*
cmake-build-debug/

pyhanabi/game_data/
pyhanabi/game_data_new/
pyhanabi/tools/bad_player/
pyhanabi/tools/bad_player_sparta/
pyhanabi/models/*
pyhanabi/iclr_models/*
pyhanabi/notebooks/*
pyhanabi/extract_human_data.py
pyhanabi/wandb/
pyhanabi/wandb_data/
pyhanabi/similarity_data/
pyhanabi/similarity
pyhanabi/similarity-old/
pyhanabi/exps/
pyhanabi/aht_scores/
pyhanabi/action_stats/

wandb_api_key.txt
*/wandb/*

*.out
*.swp
*.pyc
*.ipynb*
*.zip

temp
test.cpp
